include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include turdpo *.py
recursive-include tests *.py
recursive-include examples *.py *.json
recursive-include configs *.json
